*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
h1 {
    font-size: 40px;
}
li{
    padding: 15px;
}
li a:hover{
    border-bottom: #fc036b 3px solid;
}
.logo{
    font-size: 40px;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
/*galery*/ 
.galery {
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.galery-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.galery-text {
    margin: 10px;
    width: 300px;
}

.galery-cards{
    display: flex;
    width: 310px;
    flex-direction: row;    
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 150px;
    height: 150px;
}
.card--card1{
    background-image: url(/Adventure/img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card--card2{
    background-image: url(/Adventure/img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card--card3{
    background-image: url(/Adventure/img/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card--card4{
    background-image: url(/Adventure/img/img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*footer*/ 
footer {
    background-color: rgb(11, 11, 11);
    color: #fc036b;
    height: 40vh;
}
.footer-links a{
    display: flex;
    align-items: baseline;
    justify-content: center;
    list-style: none;
    color: #fc036b;
    border-bottom: transparent 3px solid;
    padding: 5px;
}

